<h1><%= @listing.name %></h1>
<section>
  Description: <%= @listing.description %>
  Price: <%= @listing.price %>
  Available from: <%= @listing.availablefrom %>
  Available to: <%= @listing.availableto %>
</section>
