<h1><%= @listing.name %></h1>
<section>
  Description: <%= @listing.description %>
  Price: <%= @listing.price %>
  Available from: <%= @listing.available_from %>
  Available to: <%= @listing.available_to %>
</section>
